.userCard {
  font-size: 14px;
  position: relative;
}
.userCard--delete {
  position: absolute;
  right: 4px;
  top: 3px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}
.userCard--delete:hover {
  background: lightgray;
}
.userCard--username {
  font-size: 18px;
  height: 30px;
  background: #4e4d4d;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.userCard--data {
  background: #e0f2f1;
  color: #4e4d4d;
  padding: 20px;
  line-height: 1.6;
}
.userCard--data p span {
  width: 60px;
  font-weight: bold;
  display: inline-block;
}
.userCard--data p a {
  color: #23185a;
  text-decoration: none;
}
.userCard--data p a:hover {
  text-decoration: underline;
  color: black;
}