.usersList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 20px 0;
}
@media (max-width: 900px)  {
  .usersList {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px)  {
  .usersList {
    grid-template-columns: 1fr;
  }
}