@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}
body {
  background: #d2dcdc;
}